project_id = "anefzgdcqveejrxnsovm"

[functions.analyze-food]
verify_jwt = true

[functions.create-checkout]
verify_jwt = false

[functions.check-subscription]
verify_jwt = false

[functions.customer-portal]
verify_jwt = false
